body{

}

p{
  font-family: helvetica;
}

.row{
  height:360px;
  background-color: black;
  margin: none;
}

#portrait{
    background-image: url('../img/zelfportret.jpg');
    background-position: left;
    height: 360px;
    background-size: 57%;
    background-repeat: no-repeat;
}

#about{
  margin-top: 5%;
  font-size: 1.2em;
  color: white;

}




.container{

}
