body{

}

p{
  font-family: helvetica;
}

.header{
  height:300px;
  background-color: black;
  background-size: cover;
}

#portrait{
    background-image: url('../img/zelfportret.jpg');
    background-position: left;
    height: 400px;
    background-size: cover;
}
